{"filter":false,"title":".htaccess","tooltip":"/.htaccess","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":29},"end":{"row":2,"column":29},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"9378c95cbbb65aaaea3d54f534c6b19e64636297","undoManager":{"mark":0,"position":-1,"stack":[]},"timestamp":1419403492474}